<header>
  <nav class="header-left">
    <div class="diary-title">
      <%= link_to "観察日記", root_path, class: "diary-title" %>
    </div>
    <i class="fab fa-pagelines fa-2x"></i>
  </nav>
  <nav class="header-right">
    <i class="far fa-arrow-alt-circle-up fa-3x"></i>
  </nav>
</header>