<header>
  <nav class="header-left">
    <div class="diary-title">観察日記</div>
    <i class="fab fa-pagelines fa-2x"></i>
  </nav>
  <nav class="header-right">
    <i class="far fa-arrow-alt-circle-up fa-3x"></i>
  </nav>
</header>
<div class="contents">
  <div class="left-content">
    <ul class="diary-list">
      <li class="diary-item">
        <div class="diary-image">
          <img src="rosemary.jpg" ,alt="ローズマリーの画像", class="plant-image">
          <p>観察１日目</p>
        </div>
        <p>youtube動画を参考にペットボトルにローズマリーを植えてみた</p>
      </li> 
      <li class="diary-item">
        <div class="diary-image">
          <img src="rosemary.jpg" ,alt="ローズマリーの画像", class="plant-image">
          <p>観察2日目</p>
        </div>
        <p>変化はまだわからない。とりあえず水！</p>
      </li>
      <li class="diary-item">
        <div class="diary-image">
          <img src="rosemary.jpg" ,alt="ローズマリーの画像", class="plant-image">
          <p>観察3日目</p>
        </div>
        <p>三日坊主にならないように気をつける</p>
      </li>
      <li class="diary-item">
        <div class="diary-image">
          <img src="rosemary.jpg" ,alt="ローズマリーの画像", class="plant-image">
          <p>観察4日目</p>
        </div>
        <p>youtube動画を参考にペットボトルにローズマリーを植えてみた</p>
      </li> 
      <li class="diary-item">
        <div class="diary-image">
          <img src="rosemary.jpg" ,alt="ローズマリーの画像", class="plant-image">
          <p>観察5日目</p>
        </div>
        <p>変化はまだわからない。とりあえず水！</p>
      </li>
      <li class="diary-item">
        <div class="diary-image">
          <img src="rosemary.jpg" ,alt="ローズマリーの画像", class="plant-image">
          <p>観察6日目</p>
        </div>
        <p>三日坊主にならないように気をつける</p>
      </li>
      <li class="diary-item">
        <div class="diary-image">
          <img src="rosemary.jpg" ,alt="ローズマリーの画像", class="plant-image">
          <p>観察7日目</p>
        </div>
        <p>youtube動画を参考にペットボトルにローズマリーを植えてみた</p>
      </li> 
      <li class="diary-item">
        <div class="diary-image">
          <img src="rosemary.jpg" ,alt="ローズマリーの画像", class="plant-image">
          <p>観察8日目</p>
        </div>
        <p>変化はまだわからない。とりあえず水！</p>
      </li>
      <li class="diary-item">
        <div class="diary-image">
          <img src="rosemary.jpg" ,alt="ローズマリーの画像", class="plant-image">
          <p>観察9日目</p>
        </div>
        <p>三日坊主にならないように気をつける</p>
      </li>
      <li class="diary-item">
        <div class="diary-image">
          <img src="rosemary.jpg" ,alt="ローズマリーの画像", class="plant-image">
          <p>観察10日目</p>
        </div>
        <p>youtube動画を参考にペットボトルにローズマリーを植えてみた</p>
      </li> 
      <li class="diary-item">
        <div class="diary-image">
          <img src="rosemary.jpg" ,alt="ローズマリーの画像", class="plant-image">
          <p>観察11日目</p>
        </div>
        <p>変化はまだわからない。とりあえず水！</p>
      </li>
      <li class="diary-item">
        <div class="diary-image">
          <img src="rosemary.jpg" ,alt="ローズマリーの画像", class="plant-image">
          <p>観察12日目</p>
        </div>
        <p>三日坊主にならないように気をつける</p>
      </li>
    </ul>
    
  </div>
  <div class="right-content">
    <p class="form">投稿フォーム</p>
    <div class="diary-form">
      <form>
        <div class="title">
          <p>題名: </P>
          <input type="text" , placeholder="タイトルを入力しましょう" ,class="title-text"><br>
        </div>
        <div class="text">
          <p>本文:</P>
          <textarea placeholder="本文を入力してください"></textarea><br>
        </div>
        <div class="image">
          <p>画像:</P>
          <input type="file">
        </div>
        <div class="submit">
          <input type="submit" value="日記を投稿する" class="btn">
        </div>
      </form>
    </div>
  </div>
</div>