body{
  font-family: 'はれのそら明朝';
}
a{
  text-decoration: none;
  color: white;
}
header{
  height:100px;
  line-height: 100px;
  background-color: #99cad2;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
 
}
.header-left{
  display: flex;
}
.fa-pagelines{
  line-height: 100px;
  margin-left: 20px;
  color:#c1ff84;
}
.header-right{
  display: flex;
}
.user-nav a{
  font-size: 20px;
 
}
.fa-arrow-alt-circle-up{
  color:white;
  margin: 0 50px;
  line-height: 100px;
}
.diary-title{
  color:white;
  font-size: 40px;
  line-height: 100px;
  padding-left:50px;
  & a{
    text-decoration: none;
  }
}
.contents{
  height: calc(100vh - 100px);
  background-color: #f8f2e2;
  padding-top: 100px ;
  display: flex;
  overflow: scroll;
}
.left-content{
  padding:50px;
}
.diary-list {
  display:flex;
  flex-wrap: wrap;
  width:800px;
  & li{
    list-style: none;
    width:250px;
    border: 1px solid #e1d4c3;
    margin: 0 20px 20px 0;
    background-color: #e5fff2;
    &:nth-child(3n){
        margin-right:0;
      }
    &:hover{
        cursor: pointer;
        box-shadow: 0 0 20px #99cad2;
      }
  }
}


.plant-image{
  width:250px;
  height:200px; 
}
.diary-image{
  position: relative;
  p{
    text-align: center;
  }
  .name{
    position: absolute;
    bottom:40px;
    right:10px;
    color: white;
    font-weight: bold;
  }
}
.diary-text{
  white-space: nowrap; /* 横幅のMAXに達しても改行しない */
  overflow: hidden; /* ハミ出した部分を隠す */
  text-overflow: ellipsis; /* 「…」と省略 */
  padding:5px;
}

.time{
  position: absolute;
  top: 10px;
  right: 10px;
  color:white;
}

.right-content{
  width: calc(100vw - 900px);
  background-color: #cdd2cf;
  height:500px;
  margin: 50px;
  border-radius: 20px;
  background-position: center;
  background-image: url(form-background.jpg);
}
.form{
  // color: white;
  font-size: 24px;
  text-align: center;
  padding:20px;
  
}
.diary-form{
  padding: 20px;

}
.title {
  height:30px;
  align-items: center;
  margin-bottom: 30px;
  & input{
      width:90%;
      height:20px;
    }
}
.text{
  margin-bottom: 30px;
  align-items: center;
}
textarea{
  width:90%;
  height: 30px;
  line-height: 30px;
}
.image{
  display: flex;
  // justify-content: center;
  // align-items: center;
  height: 150px;
  margin-bottom: 10px;
  position: relative;
  label {
    display: block;
    width:30%;
    height:30px;
  }
  & input{
      width: 80%;
    }
  i{
    position: absolute;
    left: 50px;
    top: 0px;
  }
  #img_field{
    width:150px;
    height: 150px;
    background-color: white;
    border: 1px solid #c1ff84;
    text-align: center;
    line-height: 150px;
  }
}

.submit{
  display: flex;
  justify-content: center;
}
.btn{
  display: inline-block;
  width: 400px;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  background-color: #ffa201;
  margin-top: 20px;
  border-radius: 27px;
  &:hover{
      box-shadow: 0 0 10px #ffa201;
      cursor: pointer;
    }
}
.info{
  font-size: 26px;
  padding:15px;
}
.pagination{
  text-align: center;
  font-size: 24px;
  height:30px;
  background-color: #99cad2;
}
// ------------------------------------
.show-contents{
  height: calc(100vh - 100px);
  background-color: #f8f2e2;
  padding-top:100px ;
  color:white;
  .content{
    margin: 100px 300px;
    background-color:#99cad2;
    padding: 20px;
    border-radius: 20px;
    .show-image{
      position: relative;
      display: flex;
      justify-content: flex-end;
      .plant-image{
        border: 3px solid white;
      }
      .time{
        position: absolute;
        top: 50px;
        left: 40px;
        font-size: 20px;
      }
      .name{
        position: absolute;
        top: 100px;
        left: 40px;
        font-size: 20px;
      }
    }
    .show-title{
      text-align: center;
      margin: 20px 0  50px;
      font-size: 30px;
    }
    .btn-content{
      text-align: center;
      font-size: 30px;
      .show-edit{
        background-color: #fac559;
        display: inline-block;
        height:35px;
        border-radius: 10px;
        width:10%;
        line-height: 35px;
        margin-right: 30px;
        &:hover{
          background-color: #f5b2b2;
          box-shadow: 0 0 10px #e95464;
        }
      }
    }
    .show-text{
      margin: 20px 0 ;
      font-size: 30px;
      line-height: 30px;
      overflow-wrap: break-word;
    }
  }
}
//---------------------------------------
.edit-contents{
  height: calc(100vh - 100px);
  background-color: #f8f2e2;
  padding-top:100px ;
  .edit-content{
    margin: 50px 300px;
    padding: 20px;
    border-radius: 20px;
    background-image: url(form-background.jpg);
    .edit-post{
      text-align: center;
      font-size: 24px;
      padding:20px;
    }
    .edit-title{
      margin-bottom: 20px;
      width:100%;
    }
    .edit-text{
      width:100%;
      height:150px;
      float:right;
    }
    .edit-image{
      height:100px;
      width: 100px;
      border: 1px solid #68a4d9;
    }
    #post-image{
      width: 50%;
      
      
    }
  }
}
//--------------------------------------------
.registration-contents{
  padding:100px;
  background-color: #f8f2e2;
  .registration-content{
    width:900px;
    margin: 10px auto;
    height: 600px;
    font-size: 20px;
    color: gray;
    h2{
      padding-top: 30px;
      text-align: center;
    }
    .field{
      padding:0 50px;
      margin-bottom: 10px; 
      .sign-form{
        width: 100%;
        height:40px;
      }
    }
    .actions{
      display: flex;
      justify-content: center;
    }
    .btn-links {
      width:400px;
      padding: 10px 0;
      text-align: center;
      font-size: 20px;
      color: #fff;
      text-decoration: none;
      background-color: #68a4d9;
      border-radius: 27px;
      margin:20px auto;
    }
  }
}
//----------------------------------------------
.session-contents{
  padding:100px;
  background-color: #f8f2e2;
  .session-content{
    width:900px;
    margin: 10px auto;
    height: 600px;
    font-size: 20px;
    color: gray;
    h2{
      padding-top: 50px;
      text-align: center;
    }
    .field{
      padding:0 50px;
      margin-bottom: 10px;
      .login-form{
        width:100%;
        height:40px;
      }
      .checkbox{
        transform: scale(2.0);
      }
    }
    .actions{
      display: flex;
      justify-content: center;
    }
    .btn-links {
      width:400px;
      padding: 10px 0;
      text-align: center;
      font-size: 20px;
      color: #fff;
      text-decoration: none;
      background-color: #68a4d9;
      border-radius: 27px;
      margin:20px auto;
    }
  }
}
//------------------------------------------------
#error_explanation{
  padding-top:150px;
  height:50px;
  width:100%;
  text-align: center;
  font-size: 20px;
  color:red;
  ul {
    display: block;
    margin: 0 auto;
    border: 1px solid red;
  }
}
//--------------------------------------------------
.flash{
  text-align: center;
  background-color: dodgerblue;
  font-size: 20px;
  color:bisque;
}
//--------------------------------------------------
.title_background{
  padding-top: 150px;
  text-align: center;
  .page-header{
    font-size: 24px;
    h2{
      border: 1px solid deepskyblue;
      border-radius: 10px;
      margin:20px 400px;
      background-color: deepskyblue;
      color: white;
    }
  }
  p{
    font-size: 20px;
  }
  .pass-new{
    background-color:#f8f2e2;
    height:300px;
    width:500px;
    margin: 20px auto;
    padding:20px;
    font-size: 20px;
    #user_email,#user_password,#user_password_confirmation{
      width:80%;
      margin-bottom: 20px;
      border-radius: 20px;
      height:35px;
    }
  }
}

